body {
    font-family: 'Poppins', sans-serif;
}

.brand-title {
    font-family: 'Fredoka One', cursive;
    color: #5A9BA4 !important;
}

.saldo-card {
    border-radius: 30px; 
    background-image: url('/static/images/saldo-bg.png'), linear-gradient(135deg, rgb(128, 195, 234) 24%, rgba(128,222,234,1) 100%);
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.047);
}

.info-card {
    border-radius: 30px; 
    background-color: white; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.auth-card {
    border-radius: 30px;
    background-color: white; 
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.047);
}

.input-box {
    background-color: #F5F5F5;
    border: none;
}

.table-wrapper {
    width: 100%;
    max-height: 150px;
    overflow: auto;
    display:inline-block;
}

.table-zoom, .table-zoom-transaksi {
    zoom: 87%;
}

.table-wrapper-biaya {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    display:inline-block;
}

.table-wrapper-transaksi {
    width: 100%;
    max-height: 400px;
    overflow: auto;
    display:inline-block;
}

.table-header-bg {
    background-color: rgba(45, 97, 135, 0.080);
}

.chart-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display:inline-block;
}
.currSign:before { 
    content: 'Rp. '; 
}

.btn-add {
    width: 40px;
    height: 40px;
    background-color: rgb(45, 97, 135);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 7px #5A9BA486;
}

.btn-add:hover {
    transform: scale(1.2);
    color: white;
}

.btn-add-transaksi {
    width: 47px;
    height: 47px;
    background-color: rgb(45, 97, 135);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 7px #5A9BA486;
}

.btn-add-transaksi:hover {
    transform: scale(1.1);
    color: white;
}

.btn-landing {
    background-color: #0d7e8d;
    color: white;
    text-align: center;
    border: none;
    box-shadow: 0 3px 7px #5A9BA486;
}

.btn-landing-start {
    width: 100px;
    background-color: #0d7e8d;
    color: white;
    text-align: center;
    border: none;
    box-shadow: 0 3px 7px #5A9BA486;
}

@media only screen and (max-width: 600px) {
    .table-zoom {
        zoom: 80%;
    }
    
    .table-zoom-transaksi {
        zoom: 70%;
    }
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle1 {
    background: #0d7e8d17;
    clip-path: circle(18% at 5% 50%);
}

.circle2 {
    background: #0d7e8d17;
    clip-path: circle(4% at 47% 30%);
}

.circle3 {
    background: #0d7e8d17;
    clip-path: circle(8% at 38% 70%);
}

.circle4 {
    background: #0d7e8d17;
    clip-path: circle(10% at 100% 40%);
}