{% extends 'base.html' %}

{% block content %}
    {% if current_saldo is not None %}
    <div class="container" id="hasCurrentSaldo">
        <h4 class="mt-3 mb-3" style="color: #5A9BA4;">Dashboard</h4>
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card" style="border: none; height: 250px; background-color: transparent;">
                    <div class="card-body d-flex justify-content-center align-items-center saldo-card">
                        <div class="container">
                            <h4 style="color: white;">Saldomu :</h4>
                            <h1 id="currentSaldo" style="color: white; font-weight: bold;">{{current_saldo.current_saldo}}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 mt-4 mt-md-0">
                <div class="card" style="border: none; height: 260px; background-color: transparent;">
                    <div class="card-body info-card">
                        <div class="row d-flex justify-content-between align-items-center pl-3 pr-3 pb-2">
                            <div class="pl-3 row">
                                <h5 class="mr-2" style="color: #80DEEA; font-weight: bold;">Transaksi terakhir</h5>
                                <i class="pt-1 fa fa-info-circle" style="color: rgb(45, 97, 135);" data-toggle="tooltip" data-placement="right" title="3 transaksi terakhir"></i>
                            </div>
                            <a class="btn btn-add text-center" href="{% url 'addTransaksi' request.user.id %}">+</a>
                        </div>
                        <div class="pt-2 table-wrapper">
                            <table class="table table-zoom-transaksi">
                                <thead class="table-header-bg">
                                  <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Jenis Transaksi</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Tanggal</th>
                                  </tr>
                                </thead>
                                <tbody style="overflow-y: scroll;">
                                {% for transaksi in transaksis %}
                                    <tr>
                                        <td>{{transaksi.nama}}</td>
                                        {% if transaksi.jenis_transaksi == 'Pemasukan' %}
                                        <td class="ml-2 mt-1" style="font-weight: bolder; color: green;">{{transaksi.jenis_transaksi}}</td>
                                        {% else %}
                                        <td class="ml-2 mt-1" style="font-weight: bolder; color: red;">{{transaksi.jenis_transaksi}}</td>
                                        {% endif %}
                                        <!-- <td>{{transaksi.jenis_transaksi}}</td> -->
                                        <td>{{transaksi.jumlah}}</td>
                                        <td>{{transaksi.date}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 row">
            <div class="col-12 col-md-4">
                <div class="card" style="border: none; height: 300px; background-color: transparent;">
                    <div class="card-body text-center info-card" style="padding: 20px;">
                        <h4 style="color: #80DEEA; font-weight: bold;">Visual Data</h4>
                        <div class="chart-wrapper">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 mt-4 mt-md-0">
                <div class="card" style="border: none; height: 300px; background-color: transparent;">
                    <div class="card-body info-card">
                        <div class="row d-flex justify-content-between align-items-center pl-3 pr-3 pb-2">
                            <div class="pl-3 row">
                                <h5 class="mr-2" style="color: #80DEEA; font-weight: bold;">Tanggungan</h5>
                                <i class="pt-1 fa fa-info-circle" style="color: rgb(45, 97, 135);" data-toggle="tooltip" data-placement="right" title="Tanggungan adalah daftar biaya yang harus kamu bayar dalam waktu dekat"></i>
                            </div>
                            <a class="btn btn-add" href="{% url 'addTanggungan' request.user.id %}">+</a>
                        </div>
                        <div class="pt-2 table-wrapper-biaya">
                            <table class="table table-hover table-zoom">
                                <thead class="table-header-bg">
                                  <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Aksi</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for tanggungan in tanggungans %}
                                        <tr>
                                            <td>{{tanggungan.nama}}</td>
                                            <td>{{tanggungan.jumlah}}</td>
                                            <td>
                                                <a class="btn" href="{% url 'updateTanggungan' tanggungan.id %}" style="background-color: rgb(40, 171, 185); color: white;"><i class="fa fa-edit"></i></a>
                                                <a class="btn" href="{% url 'deleteTanggungan' tanggungan.id %}" style="background-color: rgb(240, 84, 84); color: white;"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4 row">
            <div class="col-12">
                <div class="card" style="border: none; height: 300px; background-color: transparent;">
                    <div class="card-body text-center info-card" style="padding: 20px;">
                        <h5 class="pb-2" style="color: #80DEEA; font-weight: bold;">Representasi transaksi terakhirmu</h5>
                        <div class="chart-wrapper">
                            <canvas id="kchart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container" id="noCurrentSaldo">
        <div class="mt-4 card" style="border: none; height: 250px; background-color: transparent;">
            <div class="card-body info-card p-5">
                <h2 class="text-center">Kamu belum menginput saldomu!</h2>
                <div class="pt-4 d-flex justify-content-center">
                    <a class="btn btn-primary btn-landing" href="{% url 'inputSaldo' request.user.id %}">Input</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block script %}
<script>
    var data = JSON.parse("{{data|escapejs}}");
    var saldo = data[0]-data[1];
    var tanggungan = data[1];
    var safeside = saldo * 0.2;
    saldo = saldo - safeside;

    var allDataTransaksi = JSON.parse("{{transaksiAll|escapejs}}");
    dataTransaksi = allDataTransaksi.slice(0,7);
    dataTransaksi.sort((b,a) => new Date(a.date) - new Date(b.date));

    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];
    let dateList = []
    $.each(dataTransaksi, function(key, value) {
        value = new Date(value['date']);
        var fixDate = monthNames[value.getMonth()] + ' ' + value.getDate();
        dateList.push(fixDate);
    });
    // dateList.sort((a,b) => new Date(a) - new Date(b));

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ['Saldomu', 'Tanggungan', 'Safeside'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: ['rgb(40, 171, 185)', 'rgb(240, 84, 84)', 'rgb(45, 97, 135)'],
                // borderColor: 'rgb(255, 99, 132)',
                data: [saldo, tanggungan, safeside]
            }]
        },

        // Configuration options go here
        options: {
            responsive:true,
            maintainAspectRatio: false,
            aspectRatio: 1.4,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            }
        }
    });
    
    // saldoAkhir = data[0];
    detailSaldo = [];
    // $.each(dataTransaksi, function(key, value) {
    //     if(value['jenis_transaksi'] == 'Pemasukan') {
    //         saldoAkhir = saldoAkhir - value['jumlah'];
    //     } else if(value['jenis_transaksi'] == 'Pengeluaran') {
    //         saldoAkhir = saldoAkhir + value['jumlah'];
    //     }
    //     detailSaldo.push(saldoAkhir);
    // });
    // detailSaldo.pop()

    $.each(dataTransaksi, function(key, value) {
        if(value['jenis_transaksi'] == 'Pemasukan') {
            current = value['jumlah'];
        } else if(value['jenis_transaksi'] == 'Pengeluaran') {
            current = value['jumlah'] * -1;
        }
        detailSaldo.push(current);
    });

    let transaksi = detailSaldo.reverse();
    const colours = transaksi.map((value) => value < 0 ? 'rgb(240, 84, 84)' : 'rgb(40, 171, 185)');

    var kchart = document.getElementById('kchart').getContext('2d');
    var chart2 = new Chart(kchart, {
        type: 'bar',

        data: {
            labels: dateList.reverse(),
            datasets: [{
                label: 'Jumlah',
                // borderColor: 'rgb(40, 171, 185)',
                backgroundColor: colours,
                // borderWidth: 4,
                fill: false,
                data: transaksi
            }]
        },

        options: {
            responsive:true,
            maintainAspectRatio: false,
            aspectRatio: 1.4,
            legend: {
                display: false
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        precision: 0,
                        maxTicksLimit: 7
                    }
                }]
            }
        }
    });
</script>
{% endblock %}